body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 20px;
    background: #818332;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  
  /* Page Content */
  .content {padding:20px;}